/* Navbar styling */

html, body, #root {
    height: 100%;
    color: #9d4836;
}

#navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #d6d4c7;
}

#icon {
    height: 100px;
}

#icon-title-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#site-title {
    font-size: 35px;
    letter-spacing: 1.5px;
    padding-left: 10px;    
    color: #9d4836;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    color: #9d4836;
    font-size: 20px;
    margin-right: 40px;
    font-weight: bold;
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

.nav-link {
    margin: 40px;
}

/* Home page styling */
main {
    padding: 0px;
    background-color: #9d4836;
    min-height: 100%;
}

#welcome-section {
    background-color: #9d4836;
    padding: 60px 40px;
    color: white;
    display: flex;
    font-size: 20px;
}

/* Sessions list styling */
#sessions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#session-box {
    width: 90vw;
    padding: 40px;
    align-self: center;

}

#session-box h3 {
    font-weight: bold;
    padding: 10px;
    color: #9d4836;
}

#session-box-subheader {
    background-color: #d6d4c7;
    color: black;
    font-weight: bold;
    line-height: 1.8;
}
.card {
    margin-bottom: 50px;
}

#session-box-description {
    color: black;
    font-weight: bold;
}

/* MySessions List */
.no-sessions {
    height: 100vh;
    padding: 10px;
    color: white;
    font-size: 20px;
    padding: 40px 40px;
}

/* NewSession form */
#new-session-main,
#update-session-main {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#new-session-main h4, #new-session-main h5, .form-label,
#update-session-main h4 {
    color: white
}

.input-new-session {
    width: 90vw;
}
